<EditForm Model="Pelicula" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Titulo</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Titulo" />
            <ValidationMessage For="@(()=> Pelicula.Titulo)"/>
        </div>
    </div>

    <div class="mb-3">
        <label>En carterela</label>
        <div>
            <InputCheckbox @bind-Value="@Pelicula.EnCartelera" />
            <ValidationMessage For="@(()=> Pelicula.EnCartelera)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Fecha lanzamiento</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Pelicula.Lanzamiento" />
            <ValidationMessage For="@(()=> Pelicula.Lanzamiento)" />
        </div>
    </div>

    <div class="mb-3">
        <InputImageComponent Label="Poster" ImagenUrl="@imagenUrl" ImagenSeleccionada="ImagenSeleccionada" />
    </div>

    <div class="mb-3 form-markdown">
        <InputMarkDownComponent @bind-Value="@Pelicula.Resumen" For="@(()=> Pelicula.Resumen)" Label="Resumen" />
    </div>

    <div class="mb-3">
        <label>Géneros</label>
        <div>
            <SelectorMultipleComponent NoSeleccionados="NoSeleccionados" Seleccionados="Seleccionados" />
        </div>
    </div>

    <button class="btn btn-success">Guardar Cambios</button>

</EditForm>

@code {
    private string? imagenUrl;

    [Parameter]
    [EditorRequired]
    public Pelicula Pelicula { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]    
    public List<Genero> GenerosSeleccionados { get; set; } = new List<Genero>();

    [Parameter]
    [EditorRequired]
    public List<Genero> GenerosNoSeleccionados { get; set; } = new List<Genero>();

    public List<SelectorMultipleModel> Seleccionados { get; set; } = new List<SelectorMultipleModel>();
    public List<SelectorMultipleModel> NoSeleccionados { get; set; } = new List<SelectorMultipleModel>();


    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Pelicula.Poster))
        {
            imagenUrl = Pelicula.Poster;
            Pelicula.Poster = null;
        }


        Seleccionados = GenerosSeleccionados.Select(x => new SelectorMultipleModel( x.ID.ToString(), x.Nombre)).ToList();
        NoSeleccionados = GenerosNoSeleccionados.Select(x => new SelectorMultipleModel(x.ID.ToString(), x.Nombre)).ToList();

    }

    private void ImagenSeleccionada(string imagenBase64)
    {
        Pelicula.Poster = imagenBase64;
        imagenUrl = null;
    }

}
