<EditForm Model="Pelicula" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Titulo</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Titulo" />
            <ValidationMessage For="@(()=> Pelicula.Titulo)"/>
        </div>
    </div>

    <div class="mb-3">
        <label>En carterela</label>
        <div>
            <InputCheckbox @bind-Value="@Pelicula.EnCartelera" />
            <ValidationMessage For="@(()=> Pelicula.EnCartelera)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Fecha lanzamiento</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Pelicula.Lanzamiento" />
            <ValidationMessage For="@(()=> Pelicula.Lanzamiento)" />
        </div>
    </div>

    <div class="mb-3">
        <InputImageComponent Label="Poster" ImagenUrl="@imagenUrl" ImagenSeleccionada="ImagenSeleccionada" />
    </div>

    <div class="mb-3 form-markdown">
        <InputMarkDownComponent @bind-Value="@Pelicula.Resumen" For="@(()=> Pelicula.Resumen)" Label="Resumen" />
    </div>

    <button class="btn btn-success">Guardar Cambios</button>

</EditForm>

@code {
    private string? imagenUrl;

    [Parameter]
    [EditorRequired]
    public Pelicula Pelicula { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Pelicula.Poster))
        {
            imagenUrl = Pelicula.Poster;
            Pelicula.Poster = null;
        }
    }

    private void ImagenSeleccionada(string imagenBase64)
    {
        Pelicula.Poster = imagenBase64;
        imagenUrl = null;
    }

}
