<EditForm 
    Model="Pelicula" 
    OnValidSubmit="OnDataAnnotationValidated">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Titulo</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Titulo" />
            <ValidationMessage For="@(()=> Pelicula.Titulo)" />
        </div>
    </div>

    <div class="mb-3">
        <label>En carterela</label>
        <div>
            <InputCheckbox @bind-Value="@Pelicula.EnCartelera" />
            <ValidationMessage For="@(()=> Pelicula.EnCartelera)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Trailer</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Trailer" />
            <ValidationMessage For="@(()=> Pelicula.Trailer)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Fecha lanzamiento</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Pelicula.Lanzamiento" />
            <ValidationMessage For="@(()=> Pelicula.Lanzamiento)" />
        </div>
    </div>

    <div class="mb-3">
        <InputImageComponent Label="Poster" ImagenUrl="@imagenUrl" ImagenSeleccionada="ImagenSeleccionada" />
    </div>

    <div class="mb-3 form-markdown">
        <InputMarkDownComponent @bind-Value="@Pelicula.Resumen" For="@(()=> Pelicula.Resumen)" Label="Resumen" />
    </div>

    <div class="mb-3">
        <label>Géneros</label>
        <div>
            <SelectorMultipleComponent NoSeleccionados="NoSeleccionados" Seleccionados="Seleccionados" />
        </div>
    </div>

    <div class="mb-3">
        <label>Actores</label>
        <div>
            <SelectorMultipleTypeaheadComponent Context="Actor" SearchMethod="BuscarActores" ElementosSeleccionados="ActoresSeleccionados">
                <MyListTemplate>@Actor.Nombre / <input type="text" placeholder="Personaje" @bind="Actor.Personaje" /> </MyListTemplate>
                <MyResultTemplate>
                    <img style="width:50px;" src="@Actor.Foto" />
                    @Actor.Nombre
                </MyResultTemplate>
            </SelectorMultipleTypeaheadComponent>
        </div>
    </div>

    <button class="btn btn-success">Guardar Cambios</button>

</EditForm>

@code {
    [Parameter, EditorRequired] public Pelicula Pelicula { get; set; } = null!;
    [Parameter, EditorRequired] public EventCallback OnValidSubmit { get; set; }
    [Parameter, EditorRequired] public List<Genero> GenerosNoSeleccionados { get; set; } = new List<Genero>();
    [Parameter] public List<Genero> GenerosSeleccionados { get; set; } = new List<Genero>();
    [Parameter] public List<Actor> ActoresSeleccionados { get; set; } = new List<Actor>();

    private string? imagenUrl;
    public List<SelectorMultipleModel> Seleccionados { get; set; } = new List<SelectorMultipleModel>();
    public List<SelectorMultipleModel> NoSeleccionados { get; set; } = new List<SelectorMultipleModel>();

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Pelicula.Poster))
        {
            imagenUrl = Pelicula.Poster;
            Pelicula.Poster = null;
        }

        Seleccionados = GenerosSeleccionados.Select(x => new SelectorMultipleModel(x.ID.ToString(), x.Nombre)).ToList();
        NoSeleccionados = GenerosNoSeleccionados.Select(x => new SelectorMultipleModel(x.ID.ToString(), x.Nombre)).ToList();
    }

    private void ImagenSeleccionada(string imagenBase64)
    {
        Pelicula.Poster = imagenBase64;
        imagenUrl = null;
    }

    private async Task<IEnumerable<Actor>> BuscarActores(string searchText)
    {
        return new List<Actor>()
        {
            new Actor{ Id=1, Nombre="Arnold Schwarzenegger", FechaNacimiento=DateTime.Today, Foto="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Arnold_Schwarzenegger_in_Sydney%2C_2013.jpg/230px-Arnold_Schwarzenegger_in_Sydney%2C_2013.jpg", Biografia=""},
            new Actor{ Id=2, Nombre="Jackie Chan", FechaNacimiento=DateTime.Today, Foto="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Jackie_Chan_July_2016.jpg/220px-Jackie_Chan_July_2016.jpg", Biografia=""},
            new Actor{ Id=3, Nombre="Bruce Willis", FechaNacimiento=DateTime.Today, Foto="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Bruce_Willis_by_Gage_Skidmore_3.jpg/220px-Bruce_Willis_by_Gage_Skidmore_3.jpg", Biografia=""},
            new Actor{ Id=4, Nombre="Chuck Norris", FechaNacimiento=DateTime.Today, Foto="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Chuck_Norris_May_2015.jpg/220px-Chuck_Norris_May_2015.jpg", Biografia=""},
        };
    }


    private async Task OnDataAnnotationValidated()
    {
        Pelicula.GenerosPelicula = Seleccionados.Select(x => new GeneroPelicula { GeneroId = int.Parse(x.Llave) }).ToList();
        Pelicula.PeliculasActor = ActoresSeleccionados.Select(x => new PeliculaActor { ActorId = x.Id, Personaje = x.Personaje }).ToList();
        await OnValidSubmit.InvokeAsync();
    }
}
